
Assignment 11/grid.txt
Assignment 11/.vscode/settings.json
Assignment 12/.vscode/settings.json
Assignment 11/sum.txt
Assignment 4/.vscode/settings.json
Assignment 6/office.txt
Assignment 15/Reducible.py
Assignment 15/words.txt
Assignment 15/Reducible.py
